/.metadata
/curso_programacao_netbeans/build/
/funcoes_matematicas/nbproject/private/
/funcoes_matematicas/build/
/funcoes_matematicas/dist/
/triangles_without_oop/nbproject/private/
/triangles_without_oop/build/
/stock_products/nbproject/private/
/stock_products/build/
/calculator/nbproject/private/
/calculator/build/
/vectors_arrays/nbproject/private/
/vectors_arrays/build/
/boxing_unboxing/nbproject/private/
/boxing_unboxing/build/
/lists/nbproject/private/
/lists/build/
/working_with_dates/nbproject/private/
/working_with_dates/build/