/.metadata
/curso_programacao_netbeans/build/
/funcoes_matematicas/nbproject/private/
/funcoes_matematicas/build/
/funcoes_matematicas/dist/
/triangles_without_oop/nbproject/private/
/triangles_without_oop/build/